#Created by Constraints Editor (xc6slx9-tqg144-3) - 2012/11/05
NET "clk_in" TNM_NET = clk_in;
TIMESPEC TS_clk = PERIOD "clk_in" 50 MHz HIGH 50%;

# PlanAhead Generated physical constraints 
NET "clk_in" LOC = P56 | IOSTANDARD = LVTTL;
NET "ext_rst" LOC = P38 | IOSTANDARD = LVTTL;

#NET "cclk" LOC = P70 | IOSTANDARD = LVTTL;

NET "gpio_pins<0>"  LOC = P134 | IOSTANDARD = LVTTL;
NET "gpio_pins<1>"  LOC = P133 | IOSTANDARD = LVTTL;
NET "gpio_pins<2>"  LOC = P132 | IOSTANDARD = LVTTL;
NET "gpio_pins<3>"  LOC = P131 | IOSTANDARD = LVTTL;
NET "gpio_pins<4>"  LOC = P127 | IOSTANDARD = LVTTL;
NET "gpio_pins<5>"  LOC = P126 | IOSTANDARD = LVTTL;
NET "gpio_pins<6>"  LOC = P124 | IOSTANDARD = LVTTL;
NET "gpio_pins<7>"  LOC = P123 | IOSTANDARD = LVTTL;

NET "gpio_pins<8>"  LOC = P120 | IOSTANDARD = LVTTL;
NET "gpio_pins<9>"  LOC = P118 | IOSTANDARD = LVTTL;
NET "gpio_pins<10>" LOC = P116 | IOSTANDARD = LVTTL;
#NET "gpio_pins<11>" LOC = P | IOSTANDARD = LVTTL;
#NET "gpio_pins<12>" LOC = P | IOSTANDARD = LVTTL;
#NET "gpio_pins<13>" LOC = P | IOSTANDARD = LVTTL;
#NET "gpio_pins<14>" LOC = P | IOSTANDARD = LVTTL;
#NET "gpio_pins<15>" LOC = P | IOSTANDARD = LVTTL;

#NET "gpio_pins<>" LOC = P | IOSTANDARD = LVTTL;

#NET "spi_mosi" LOC = P44 | IOSTANDARD = LVTTL;
#NET "spi_miso" LOC = P45 | IOSTANDARD = LVTTL;
#NET "spi_ss" LOC = P48 | IOSTANDARD = LVTTL;
#NET "spi_sck" LOC = P43 | IOSTANDARD = LVTTL;
#NET "spi_channel<0>" LOC = P46 | IOSTANDARD = LVTTL;
#NET "spi_channel<1>" LOC = P61 | IOSTANDARD = LVTTL;
#NET "spi_channel<2>" LOC = P62 | IOSTANDARD = LVTTL;
#NET "spi_channel<3>" LOC = P65 | IOSTANDARD = LVTTL;

#NET "avr_tx" LOC = P55 | IOSTANDARD = LVTTL;
#NET "avr_rx" LOC = P59 | IOSTANDARD = LVTTL;
#NET "avr_rx_busy" LOC = P39 | IOSTANDARD = LVTTL;

